@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* RESET CSS */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* CSS */
body {
    font-family: "Inter", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: rgb(167, 167, 167);
}

.form-conterner {
    padding: 50px;
}

button {
    margin: 10px;
}
 h1 {
    color: orange;
    border-radius: 10px 100px / 120px;;
    border: solid #444 2px;
    background-color: #fff;
 }

 .uname {
    color: red;
    font-weight: 700;
 }
 
 .pass {
    color: greenyellow;
    font-weight: 700;
 }
 
 .reme {
    color: yellow;
    font-weight: 700;
 }
 
 span {
    font-weight: 700;
 }
 
button {
    padding: 2px;
    font-weight: 700;
} 