@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* RESET CSS */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f87800;
    color: #000305;
    
}

h1, h2, p, h3 {
  margin: 10px ;
  padding: 10px;
}

h1 {
    color: rgb(25, 59, 2);
}

h2 {
    color: #3b9797;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 60%;
    border: solid #333 2px;
}

#about {
    background-color: gold;
}

#education {
    background-color: greenyellow;
    border-radius: 50%;
}

#contact {
    background-color: #fff;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}